@model LocationSearchApplicationAPI.Models.LocationImage

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LocationImage</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.VenueId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VenueId)
            @Html.ValidationMessageFor(model => model.VenueId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageId)
            @Html.ValidationMessageFor(model => model.ImageId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@* @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} *@
