@model LocationSearchApplicationAPI.Models.LocationImage

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LocationImage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VenueId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VenueId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
