@model LocationSearchApplicationAPI.Models.Venue

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Venue</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Dislike)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Dislike)
            @Html.ValidationMessageFor(model => model.Dislike)
        </div>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Latitude)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Latitude)
            @Html.ValidationMessageFor(model => model.Latitude)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Longitude)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Longitude)
            @Html.ValidationMessageFor(model => model.Longitude)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Like)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Like)
            @Html.ValidationMessageFor(model => model.Like)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rating)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rating)
            @Html.ValidationMessageFor(model => model.Rating)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Restricted)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Restricted)
            @Html.ValidationMessageFor(model => model.Restricted)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StoreId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StoreId)
            @Html.ValidationMessageFor(model => model.StoreId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Url)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Url)
            @Html.ValidationMessageFor(model => model.Url)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Verified)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Verified)
            @Html.ValidationMessageFor(model => model.Verified)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@* @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
} *@
